{% extends 'base.html.twig' %}

{% block title %}| Главная{% endblock %}

{% block body %}
    <main>
        <h1>Главная</h1>
        Перейти на страницу:
        <nav>
            <ul>
                <li>
                    <a href="{{ path('currencies') }}">Все валюты</a>
                </li>
                <li>
                    <a href="{{ path('currency', {numCode: '840'}) }}">Валюта USD</a>
                </li>
            </ul>
        </nav>
    </main>
{% endblock %}
