{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h1>Неизвестная ошибка</h1>
        <p>
            Произошла неизвестная ошибка. Мы уже занимаемся её решением.
            В это время посетите <a href="{{ path('main') }}">главную страницу</a>.
        </p>
    </main>
{% endblock %}
