{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h1>Страница не найдена</h1>
        <p>Запрошенная страница не найдена. Проверьте опечатки в URL или
            <a href="{{ path('currencies') }}">вернитесь на страницу всех валют</a>.</p>
    </main>
{% endblock %}
